@import "../../shared/styles/main";

.header {
  background-color: $color-primary;
  height: 50px;

  @include desktop {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 46px;
    }
  }

.menu-toggle {
  background-color: $color-primary;
  border: none;
  height: 20px;
  padding-left: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 20px;

  &__item {
    &--open {
      display: block;
    }

    &--close {
      display: none;
    }
  }

  &--open {
    .menu-toggle__item {
      &--open {
        display: none;
      }

      &--close {
        display: block;
      }
    }
  }
}

.title-bar {
  -webkit-font-smoothing: antialiased;
  background: $color-primary;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include desktop {
    display: none;
    }

  & a {
    color: $color-letter-on-primary;
    font-family: $font-titlebar;
    font-size: $font-size-mobile;
    height: $font-height-mobile;
    text-decoration: none;
   }
}

.profile {
  display: none;


  @include desktop {
    align-items: center;
    background-color: $color-monochrome-1;
    border-radius: 18px;
    display: flex;
    height: 36px;
    justify-content: space-between;
    min-width: 135px;


    & .logo {
      height: 10px;
      width: 75px;
    }

    & .picture {
      border-radius: 18px;
      height: 32px;
      margin-left:  18px;
      width: 32px;

    }

    .arrow-down {
      margin-right: 10px;
      padding: 15px;
      position: absolute;
      right: 0;
      top: 10;


  }
}
}
