{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["babel"],
  "root": true,
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": [ "error", "never" ],
    "jsx-a11y/label-has-for": [ "off", {
            "components": [ "Label" ],
            "required": {
                "every": [ "nesting", "id" ]
            },
            "allowChildren": false
        }],
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-one-expression-per-line": "off",
    'jsx-a11y/no-noninteractive-element-interactions': "off",
    'jsx-a11y/no-noninteractive-tabindex': "off",
    'jsx-a11y/no-noninteractive-element-to-interactive-role': "off"
  }
}
