/* fonts */
$font-primary: "proximanova";
$font-titlebar: "belloscript";

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$font-weight-black: $font-weight-bold;
$font-weight-book: $font-weight-regular;
$font-size-form: 12px;
$font-size-primary: 14px;
$font-size-secondary: 16px;
$font-size-header-scaling: .886vw;
$font-size-mobile: 24px;
$font-height-mobile: 29px;

/* colors */
$color-primary: #4f88ef;
$color-secondary: #372347;
$color-tertriary: #9c92a4;
$color-letter-on-primary: #fff;
$color-highlight: #1166a5;

$color-accent: #0092ff;

$color-error: #f60000;

$color-monochrome-1: #fff;
$color-monochrome-2: #f4f6f8;
$color-monochrome-6: #e4e7ee;
$color-monochrome-3: #7a838e;
$color-monochrome-4: #87858a;
$color-monochrome-5: #36333c;

$color-accent-alt-1: #f70;
$color-accent-alt-2: #70c017;
$color-accent-alt-3: #009659;
$color-accent-alt-4: #f05a28;

/* color specific */
$header-color-primary: $color-monochrome-5;
$paragraph-color-primary: $color-monochrome-3;
$timesheet-button-color-primary: #39b54a;
$timesheet-button-color-secondary: #34aa44;
$timesheet-button-color-border: #249533;
$timesheet-form-button-color: #35ac45;

/* media queries */
$xs: (max-width: 599px);
$gt-xs: (min-width: 600px);
$sm: (min-width: 600px) and (max-width: 959px);
$gt-sm: (min-width: 960px);
$md: (min-width: 960px) and (max-width: 1279px);
$gt-md: (min-width: 1280px);
$lg: (min-width: 1280px) and (max-width: 1919px);
$gt-lg: (min-width: 1920px);
$xl: (min-width: 1920px);

/* container sizes */
$container-xs: 100%;
$container-sm: 900px;
$container-md: 1200px;
$container-lg: 1400px;
$container-xlg: 1600px;

/* columns */
$columns--1: 100%;
$columns--2: 50% 50%;
$columns--3: 33.3% 33.3% 33.3%;
$columns--4: 25% 25% 25% 25%;
$columns--5: 20% 20% 20% 20% 20%;
$columns--6: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
$columns--7: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
$columns--8: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
$columns--9: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
$columns--10: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
$columns--11: 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09%;
$columns--12: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;

/* font sizes */
$default-font-size: 18px;
$default-font-size--mobile: 14px;
$default-font-size-scalable--mobile: 3.733vw;
$heading-primary-size: 36px;
$heading-primary-size--mobile: 32px;
$heading-secondary-size: 25px;
$heading-secondary-size--mobile: 18px;
$heading-tertriary-size: 18px;
$heading-tertriary-size--mobile: 16px;
$paragraph-size: 18px;
$paragraph-size--mobile: 16px;

/* component scheme"s */
$scheme-primary: "primary";
$scheme-secondary: "secondary";
$scheme-accent: "accent";
$scheme-accent--dark: "accent-dark";

/* sizing */
$main-navigation-height: 90px;
$main-navigation-height--small: 70px;

$subnav-height: 80px;
$subnav-height--mobile: 72px;

/* spacing */
$padding: 20px;
$default-grid-gutter: 10px;

/* border */
$default-border-radius: 4px;
$default-border-height: 1px;

/* header */
$header-arrow-margin-left: 10px;
$header-arrow-margin-right: 31px;
$header-arrow-size: .6vw;
$header-button-height: 36px;
$header-button-width: 135px;
$header-desktop-height: 4.43vw;
$header-desktop-min-height: 70px;
$header-font-size-small: 14px;
$header-height: 4.43vw;
$header-item-padding-scalable: .6vw;
$header-item-padding: 26px;
$header-min-height: 70px;
$header-mobile-button-height: 5.413vw;
$header-mobile-button-width: 5.386vw;
$header-mobile-company-width: 36.27vw;
$header-mobile-height: 13.33vw;
$header-mobile-item-margin: 11.5vw;
$header-mobile-item-padding: 70px;
$header-nav-item-margin-desktop: 49.5;
$header-nav-item-margin-tablet: 30px;
$header-title-bar-padding-vertical: 12px;
$header-title-margin-left: 49.5px;
$header-toggle-margin-right: 16px;
$header-toggle-margin-top: 4px;
$profile-border-radius-scalable: 1.14vw;
$profile-border-radius: 18px;
$profile-logo-height-scalable: .634vw;
$profile-logo-height: 10px;
$profile-logo-margin-top: 11px;
$profile-logo-width-scalable: 4.747vw;
$profile-logo-width:  75px;
$profile-margin-bottom-xl: 28px;
$profile-margin-bottom: 17px;
$profile-picture-margin: 18px;
$profile-picture-size: 32px;

/* timesheet-overview */
$timesheet-mobile-item-width: 91.466vw;
$timesheet-mobile-item-margin-horizontal: 4.266vw;
$timesheet-mobile-item-margin-top: 6.4vw;
$timesheet-mobile-item-height: 9.6vw;
$timesheet-button-margin-bottom: 8.533vw;
$timesheet-button-plus-size: 2.666vw;
$timesheet-button-plus-right: 4vw;
$timesheet-button-plus-color: #b0edb8;

/* timesheet*/
$timesheet-sheet-border-left-color: #4f88ef;
$timesheet-mobile-height: 21.866vw;

/* new-timesheet */
$timesheet-form-height: 112.533vw;
$timesheet-form-background-color: #f5f8fa;
$timesheet-form-border-color: #e6eaee;
$timesheet-form-select-width: 82.933vw;
$timesheet-form-select-border-color: #ced0da;
$timesheet-form-select-background-primary: #f2f4f7;
$timesheet-form-select-margin-top: 3.2vw;
$timesheet-form-select-margin-bottom: 4.266vw;
