@import "../../shared/styles/main";

.time-entry {
  align-items: center;
  background-color: $color-monochrome-1;
  border: solid $default-border-height $color-monochrome-7;
  border-left: $color-monochrome-6 solid 4px;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: row;
  font-size: $font-size-secondary;
  justify-content: space-between;
  padding: 18px 30px;
  width: 100%;

  &__section {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &:last-child {
      display: block;
    }
  }

  &__time-calculated {
    color: $color-monochrome-18;
    font-size: 14px;
    text-align: right;
  }

  &:hover {
    .time-entry__delete-button {
      @include desktop {
        opacity: 1;
      }
    }
  }

  &__delete-button {
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    display: flex;
    opacity: 0;
    padding: 7px;
    transition: opacity .2s ease-in-out;

    @include desktop {
      align-items: center;
      background-color: $color-monochrome-17;
      border-radius: $default-border-radius;
      color: $color-letter-on-primary;
      justify-content: space-around;
      margin-left: 33px;
      padding-top: 8px;
    }
  }

  &__stop-sign {
    background: url("/static/icons/forbid.svg") no-repeat center;
    height: 16px;
    width: 16px;
  }


  &__stop-text {
    color: $color-monochrome-1;
    padding-left: 7px;
  }
}
