@import "../../shared/styles/main";

.delete-entry {
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  display: flex;
  opacity: 0;
  transition: opacity .2s ease-in-out;


  @include tablet {
    align-items: center;
    background-color: $color-monochrome-17;
    border-radius: $default-border-radius;
    color: $color-letter-on-primary;
    height: 30px;
    justify-content: space-around;
    margin-left: 33px;
    width: 79px;
  }

  & .stop-sign {
    background: url("/static/icons/forbid.svg") no-repeat center;
    height: 16px;
    width: 16px;
  }
}

.time-entry {
  align-items: center;
  background-color: $color-monochrome-1;
  border: solid $default-border-height $color-monochrome-7;
  border-left: $color-monochrome-6 solid 4px;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: row;
  font-size: $font-size-secondary;
  height: 82px;
  justify-content: space-between;
  width: 100%;

  & .employer {
    margin-left: $default-margin;
    @include tablet {
      margin-left: 30px;
    }
  }

  & .time {
    margin-right: $default-margin;
    @include tablet {
      margin-right: 30px;
    }
  }

  &:hover {
    .delete-entry {
      @include tablet {
        opacity: 1;
      }
    }
  }
}


.employer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
