@import "../../shared/styles/main";

.time-entry-overview {

  &__header {
    display: none;

    @include desktop {
      align-items: center;
      border-bottom: solid $default-border-height $color-monochrome-7;
      display: flex;
      justify-content: space-between;
      padding: 17px 20px;
      width: 100%;

    }
  }

  &__header-left-side {
    display: flex;
    justify-content: space-between;

  }

  &__header-right-side {
    display: flex;
    justify-content: space-between;
  }
}


.container {
  margin: auto;
  max-width: 1170px;
  padding-left: $default-margin;
  padding-right: $default-margin;

}
