@import "../../shared/styles/main";

.time-entry-button {
  background-image: linear-gradient(to bottom, $color-monochrome-13, $color-monochrome-14 98%);
  border: solid $default-border-height $color-monochrome-12;
  border-radius: $default-border-radius;
  color: $color-letter-on-primary;
  font-family: $font-primary;
  font-size: $font-size-primary;
  height: 36px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-top: 24px;
  width: 343px;

  &__plus {
    color: $color-monochrome-11;
    height: 10px;
    margin-right: 15px;
    width: 10px;
  }

  @include tablet {
    display: none;
  }
}
