/* fonts */
/* colors */
/* color specific */
/* media queries */
/* container sizes */
/* columns */
/* font sizes */
/* component scheme"s */
/* sizing */
/* spacing */
/* border */
/* header */
/* fonts */
/* colors */
/* color specific */
/* media queries */
/* container sizes */
/* columns */
/* font sizes */
/* component scheme"s */
/* sizing */
/* spacing */
/* border */
/* header */
/* color scheme sections */
/* media queries */
/* grid */
/* grid */
/* font-size */
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  src: url("/static/fonts/avenir/avenir-book.eot?#iefix") format("eot"), url("/static/fonts/avenir/avenir-book.woff2") format("woff2"), url("/static/fonts/avenir/avenir-book.woff") format("woff"), url("/static/fonts/avenir/avenir-book.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/avenir/avenir-medium.eot?#iefix") format("eot"), url("/static/fonts/avenir/avenir-medium.woff2") format("woff2"), url("/static/fonts/avenir/avenir-medium.woff") format("woff"), url("/static/fonts/avenir/avenir-medium.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir";
  font-style: bold;
  font-weight: 600;
  src: url("/static/fonts/avenir/avenir-heavy.eot?#iefix") format("eot"), url("/static/fonts/avenir/avenir-heavy.woff2") format("woff2"), url("/static/fonts/avenir/avenir-heavy.woff") format("woff"), url("/static/fonts/avenir/avenir-heavy.ttf") format("truetype"); }

@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/proxima-nova/proximanova-regular-webfont.woff2") format("woff2"), url("/static/fonts/proxima-nova/proximanova-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/proxima-nova/proximanova-semibold-webfont.woff2") format("woff2"), url("/static/fonts/proxima-nova/proximanova-semibold-webfont.woff") format("woff"); }

@font-face {
  font-family: "proximanova";
  font-style: bold;
  font-weight: 600;
  src: url("/static/fonts/proxima-nova/proximanova-bold-webfont.woff2") format("woff2"), url("/static/fonts/proxima-nova/proximanova-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 300;
  src: url("/static/fonts/proxima-nova/proximanova-light-webfont.woff2") format("woff2"), url("/static/fonts/proxima-nova/proximanova-light-webfont.woff") format("woff"); }

@font-face {
  font-family: "proximanova";
  font-style: italic;
  font-weight: normal;
  src: url("/static/fonts/proxima-nova/proximanova-regularitalic-webfont.woff2") format("woff2"), url("/static/fonts/proxima-nova/proximanova-regularitalic-webfont.woff") format("woff"); }

@font-face {
  font-family: "belloscript";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/bello-script/belloscript.ttf") format("truetype"); }

/* fonts */
/* colors */
/* color specific */
/* media queries */
/* container sizes */
/* columns */
/* font sizes */
/* component scheme"s */
/* sizing */
/* spacing */
/* border */
/* header */
/* color scheme sections */
/* media queries */
/* grid */
/* grid */
/* font-size */
html {
  display: flex;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: "proximanova";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  width: 100%; }
  @media (min-width: 600px) {
    body {
      font-size: 18px; } }

input {
  -webkit-appearance: none;
  box-shadow: none;
  font-family: "proximanova";
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #36333c; }
  @media (min-width: 600px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 18px; } }

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5; }
  @media (min-width: 600px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5; }
  @media (min-width: 600px) {
    h2 {
      font-size: 25px; } }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65; }
  @media (min-width: 600px) {
    p {
      font-size: 18px; } }

button {
  font-family: "proximanova";
  font-weight: 600; }

select {
  font-family: "proximanova"; }
  select::-ms-expand {
    display: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #4f88ef;
  height: 13.33vw; }

.menu-toggle {
  float: right;
  height: 5.413vw;
  margin-right: 3%;
  margin-top: 1%;
  padding-left: 0;
  width: 5.386vw; }
  .menu-toggle__item--open {
    display: block; }
  .menu-toggle__item--close {
    display: none; }
  .menu-toggle--open .menu-toggle__item--open {
    display: none; }
  .menu-toggle--open .menu-toggle__item--close {
    display: block; }

.title-bar {
  background: #4f88ef;
  padding-top: 2%;
  text-align: center;
  text-decoration: none;
  width: 100vw; }
  .title-bar a {
    color: #fff;
    font-family: "belloscript";
    font-size: 24px;
    height: 29px;
    margin-left: 6%;
    text-decoration: none;
    width: 36.27vw; }

.main-nav {
  align-items: center;
  background: #4f88ef;
  height: 100vh;
  justify-content: center;
  visibility: hidden;
  width: 100%; }
  .main-nav--open {
    display: block;
    visibility: visible; }
  .main-nav__nav-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10%; }
  .main-nav__item {
    color: #fff;
    font-family: "proximanova";
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 29px;
    justify-content: center;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 11.5vw;
    text-align: center; }
    .main-nav__item--active {
      background: #1166a5;
      border-radius: 4px;
      width: inherit; }
    .main-nav__item a {
      text-decoration: none; }

.profile {
  display: none; }

@media (min-width: 600px) {
  .header {
    display: flex;
    height: 4.43vw;
    min-height: 70px; }
  .title-bar {
    display: none; }
  .main-nav {
    align-self: flex-start;
    display: block;
    height: 100%;
    visibility: visible; }
    .main-nav__nav-list {
      align-items: flex-start;
      flex-direction: row;
      padding-top: 26px; }
    .main-nav__item {
      display: inline;
      font-size: 14px;
      font-weight: 600;
      margin-left: 2%;
      margin-right: 3%; }
      .main-nav__item--active {
        height: inherit; }
  .profile {
    align-self: flex-end;
    background-color: #fff;
    border-radius: 18px;
    display: flex;
    height: 2.28vw;
    justify-content: space-between;
    margin-bottom: 2%;
    min-height: 36px;
    min-width: 135px;
    width: 9.4vw; }
    .profile .logo {
      align-self: flex-start;
      height: 10px;
      margin-left: 5%;
      margin-top: 8%;
      width: 75px; }
    .profile .picture {
      align-self: flex-end;
      border-radius: 18px;
      height: 32px;
      width: 32px; }
  .arrow-down {
    margin-left: 10px;
    margin-right: 3%; } }

@media (min-width: 1280px) {
  .main-nav__item {
    font-size: 0.886vw; }
  .profile {
    border-radius: 1.14vw;
    margin-bottom: 1.2%; }
    .profile .logo {
      height: 0.634vw;
      width: 4.747vw; }
    .profile .picture {
      border-radius: 1.14vw;
      height: 2.02vw;
      width: 2.02vw; } }

@media (min-width: 1920px) {
  .main-nav {
    padding-top: 0.6vw; }
  .arrow-down {
    width: 0.6vw; } }

/*# sourceMappingURL=style.css.map*/