@import "../../shared/styles/main";

.team-members-overview {
  &__component-header {
    @include desktop {
      font-family: $font-primary;
      margin: auto;
      max-width: 1170px;
      padding-left: $default-margin;
      padding-right: calc(#{$default-margin} - 10px);
    }
  }


  &__container {
    font-family: $font-primary;
    margin: auto;
    max-width: 1170px;
    padding-left: $default-margin;
    padding-right: $default-margin;
  }
}
