@import "../../shared/styles/main";

.team-member {
  background-color: $color-monochrome-1;
  border: solid $default-border-height $color-monochrome-7;
  border-left: $color-monochrome-6 solid 4px;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: column;
  font-size: $font-size-secondary;
  margin-top: 20px;
  width: 100%;


  &:focus {
    outline: none;
  }

  &__top-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 42px 16px 20px;
    width: 100%;
  }

  &__summary {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__picture {
    border-radius: 30px;
    height: 50px;
    margin-right: 25px;
    width: 50px;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__detail-label {
    color: $color-monochrome-18;
    font-size: $font-size-primary;
  }

  &__details-desktop {
    display: none;

    @include desktop {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__arrow-expand {
    background: url("/static/icons/arrow-down-2.svg") no-repeat center;
    border: none;
    height: 20px;
    width: 20px;

    &--opened {
      background: url("/static/icons/arrow-up.svg") no-repeat center;
    }
  }
}

.team-member-dropdown {
  &--collapsed {
    display: none;
  }

  &--expanded {
    display: flex;
    flex-direction: column;
  }

  &__divider {
    background-color: $color-monochrome-8;
    color: $color-monochrome-18;
    display: block;
    font-size: $font-size-primary;
    padding: 10px 0 10px 21px;
    width: 100%;
  }


  &__info {
    padding: 16px 21px 24px;
  }

  &__detail {
    margin-top: 16px;
  }
}
