@import "../../shared/styles/main";

.team-member {
  align-items: center;
  background-color: $color-monochrome-1;
  border: solid $default-border-height $color-monochrome-7;
  border-left: $color-monochrome-6 solid 4px;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: row;
  font-size: $font-size-secondary;
  height: 82px;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;

  &--expanded {
    border-bottom: none;
    border-radius: $default-border-radius $default-border-radius 0 0;
  }
}

.employee-summary {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;

  .employee-picture {
    border-radius: 30px;
    height: 50px;
    width: 50px;
  }

  .name-profession {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    text-align: left;

    .profession {
      color: $color-monochrome-18;
      font-size: $font-size-primary;
    }
  }
}

.employee-container {
  display: flex;
  justify-content: flex-end;
}

.employee-details-desktop {
  display: none;

  @include tablet {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .employee-number {
      margin-right: 54px;

      &__text {
        color: $color-monochrome-18;
        font-size: $font-size-primary;
      }
    }

    .current-employer-desktop {
      margin-right: 54px;

      &__text {
        color: $color-monochrome-18;
        font-size: $font-size-primary;
      }
    }

    .start-date-desktop {
      margin-right: 49px;

      &__text {
        color: $color-monochrome-18;
        font-size: $font-size-primary;
      }
    }

  }
}

.employee__button-expand {
  background: url("/static/icons/arrow-down-2.svg") no-repeat center;
  border: none;
  height: 20px;
  margin-right: 22px;
  width: 20px;

  &--clicked {
    background: url("/static/icons/arrow-up.svg") no-repeat center;
  }
}

.employee-details-mobile--collapsed {
  display: none;
}

.employee-details-mobile--expanded {
  border: solid $default-border-height $color-monochrome-7;
  border-left: $color-monochrome-6 solid 4px;
  border-radius: 0 0  $default-border-radius $default-border-radius;
  border-top: none;
  display: flex;
  flex-direction: column;
  height: 168px;

  .detail-header {
    align-items: center;
    background-color: $color-monochrome-8;
    color: $color-monochrome-18;
    display: flex;
    font-size: $font-size-primary;
    height: 36px;

    &__text {
      margin-left: 30px;
    }
  }

  .current-employer {
    margin-left: 21px;
    margin-top: 16px;

    &__text {
      color: $color-monochrome-18;
      font-size: $font-size-primary;
    }
  }

  .start-date {
    margin-left: 21px;
    margin-top: 16px;

    &__text {
      color: $color-monochrome-18;
      font-size: $font-size-primary;
    }
  }
}
