@import "../../styles/main";

.select-box__wrapper {
  position: relative;

  &::after {
    @include desktop {
      background: no-repeat url("/static/icons/arrow-down.svg");
      content: "";
      height: 5px;
      margin-left: 36px;
      position: absolute;
      right: 17px;
      top: 17px;
      width: 11px;
    }
  }
}

.select-box {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  display: none;
  margin-right: 10px;

  @include desktop {
    align-items: center;
    background-color: inherit;
    border: solid $default-border-height $color-monochrome-15;
    border-radius: $default-border-radius;
    color: $color-monochrome-18;
    display: flex;
    font-size: $font-size-primary;
    height: 36px;
    justify-content: center;
    padding-left: 13px;
    padding-right: 77px;
  }
}
